body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #343a40;
    font-weight: bold;
}

.h4 {
    font-size: 1.25rem; /* Adjusted font size */
    margin-bottom: 0.5rem; /* Reduced margin bottom */
}

.lead {
    color: #6c757d;
    font-size: 0.875rem; /* Smaller font size */
    margin-bottom: 0.5rem; /* Reduced margin bottom */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    padding: 0.25rem 0.5rem; /* Adjusted padding */
    font-size: 0.875rem; /* Adjusted font size */
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.embed-responsive {
    margin-top: 1rem; /* Adjust top margin for space */
}
